@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
    --primary-color: #5cd65c;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: var(--primary-color);
    font-family: 'Roboto',sans-serif;
}

/*=== Header ===*/
header {
    background: white;
    width: 100%;
    box-sizing: border-box;
    padding: 32px;
    text-align: center;
}
/*links*/
.links {
    font-size: 22px;
}

.links a{
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a:hover {
    color: var(--primary-color);
}

.links a.active {
    color: var(--primary-color);
    font-weight: bold;
}

.links a + a {
    margin-left: 32px;
}
/*transition links*/
.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 400ms cubic-bezier(0.49, 0.06, 0.13, 0.84);
}

/*=== CARD ===*/

.card {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    box-shadow: 0 2px 6px 0.3px rgba(0,0,0,0.6);

    animation: up 400ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
    }
}
/*details*/
.details {
    padding: 32px;
    position: relative;
}

.details .item {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 16px 0;
}

.details .item:nth-child(2){
    border-top: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    color: #777;
    letter-spacing: 0.6px;
    line-height: 24px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    font-weight: bold;
    color: var(--primary-color);
    text-transform: uppercase;
}

.details .item span {
    color: #777;
    background-color: #ffff66;
    padding: 8px 16px;
    border-radius: 16px;
    display: inline-block;
    margin-top: 4px;
    margin-right: 4px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

/*=== FORM ===*/
input {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

a.button,
button[type="submit"] {
    width: 90%;
    font-size: 16px;
    padding: 8px 16px;
    margin-top: 32px;
    margin-left: 5%;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

a.button {
    display: block;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

button[type="submit"].button-delete {
    background-color: rgba(226, 14, 14, 0.74);
    text-align: center;
}

.redirect {
    display: grid;
    grid-template-columns: 1fr 1fr;
}