<div class="item">
    <div>Avatar URL</div>
    
    <div>
        <input 
            type="url" 
            name="avatar_url" 
            placeholder="https://" 
            value="{{student.avatar_url}}"
        >
    </div>
</div>

<div class="item">
    <div>Full name</div>
    
    <div>
        <input
            type="text"
            name="name" 
            placeholder="Enter student name"
            value="{{student.name}}"
        >
    </div>
</div>

<div class="item">
    <div>Date of birth</div>
    
    <div>
        <input 
            type="date" 
            name="birth"
            value="{{student.birth}}"
        >
    </div>
</div>

<div class="item">
    <div>Email</div>
    
    <div>
        <input 
            type="email" 
            name="email" 
            placeholder="exemple@email.com" 
            value="{{student.email}}"
        >
    </div>
</div>

<div class="item">
    <div>School year</div>

    <div>
        <select name="school_year" id="school_year">
            <option value="5ef" {% if student.school_year == 5ef %} selected {% endif %}>
                5º year of elementary school
            </option>

            <option value="6ef" {% if student.school_year == 6ef %} selected {% endif %}>
                6º year of elementary school
            </option>

            <option value="7ef" {% if student.school_year == '7ef' %} selected {% endif %}>
                7º year of elementary school
            </option>

            <option value="8ef" {% if student.school_year == '8ef' %} selected {% endif %}>
                8º year of elementary school
            </option>

            <option value="9ef" {% if student.school_year == '9ef' %} selected {% endif %}>
                9º year of elementary school
            </option>

            <option value="1em" {% if student.school_year == '1em' %} selected {% endif %}>
                1º high school year
            </option>

            <option value="2em" {% if student.school_year == '2em' %} selected {% endif %}>
                2º high school year
            </option>

            <option value="3em" {% if student.school_year == '3em' %} selected {% endif %}>
                3º high school year
            </option>
        </select>
    </div>
</div>


<div class="item">
    <div>Weekly workload</div>

    <div>
        <input type="number" name="workload" value="{{student.workload}}" placeholder="0">
    </div>
</div>

<div class="item">
    <div>Teacher</div>

    <div>
        <select name="teacher" id="options-teacher">
            {% for teacher in teacherOptions %}
                <option value="{{teacher.id}}" 
                    {% if student.teacher_id == teacher.id %} selected {% endif %}
                >{{teacher.name}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<button type="submit">Save</button>