{% extends "layout.njk" %}

{% block head %}
    <title>Private Lessons - Teachers</title>
{% endblock %}

{% block content %}
    <div class="card table-container">
        <div class="header">
            <a class="button" href="/teachers/create">New</a>

            <form class="filter" action="/teachers" method="GET">
                <input 
                    type="text" 
                    name="filter"
                    placeholder="Name or side dish"
                    value="{{filter}}"
                >
                <button type="submit">Filter</button>
            </form>        
        </div>

        <table width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Side dish</th>
                    <th>Action</th>
                </tr>
            </thead>
        
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td><span style="background-image: url({{teacher.avatar_url}})"></span>{{teacher.name}}</td>
                        <td>
                            {{teacher.acting}}
                        </td>
                        <td><a href="/teachers/{{teacher.id}}">show</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div 
            class="pagination"
            data-page="{{pagination.page}}"
            data-total="{{pagination.total}}"
            data-filter="{{filter}}"
        ></div>
    </div>
{% endblock %}

