    <div class="item">
        <div>Avatar URL</div>
        
        <div>
            <input type="url" name="avatar_url" placeholder="https://">
        </div>
    </div>

    <div class="item">
        <div>Nome completo</div>
        
        <div>
            <input type="text" name="name" placeholder="Digite o nome do professor">
        </div>
    </div>

    <div class="item">
        <div>Data de nascimento</div>
        
        <div>
            <input type="date" name="birth">
        </div>
    </div>

    <div class="item">
        <div>Grau de escolaridade</div>
        
        <div>
            <select name="schooling" id="schooling">
                <option value="emc">Ensino Médio Completo</option>
                <option value="esc">Ensino Superio Completo</option>
                <option value="md">Mestrado e Doutorado</option>
            </select>
        </div>
    </div>

    <div class="item">
        <div>Tipo de aula</div>
        <div>
            <span><input type="radio" name="type_of_class" value="P" checked>Presencial</span>
            <span><input type="radio" name="type_of_class" value="D">A distância</span>
        </div>
    </div>

    <div class="item">
        <div>Área de atuação</div>
        <div>
            <input type="text" name="acting" placeholder="Digite as áreas separadas por vírgula">
        </div>
    </div>

    <button type="submit">Salvar</button>